@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* font-family:"Montserrat",sans-serif; */
}
body{
  overflow: hidden;
}
/* .gg{
  font-family:"Roboto",RobotoDraft,Helvetica,Arial,sans-serif !important;
} */
.mail_icon_left{
    color: #D3D5D5 !important;
}
.mail_icon_left:hover{
  color: gray !important;
}


body{
  overflow-x: hidden;
}
@layer components{
  .gmail_link{
    @apply flex px-6 p-1 text-[.875rem] gap-2 font-['Roboto'] items-center rounded-r-full font-[450] hover:bg-gray-100
  }
  
  /* .gmail_link_color{
    @apply  
  } */
}
@tailwind base;
@tailwind components;
@tailwind utilities;